{
  "root": true,
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.vue"
      ],
      "parserOptions": {
        "project": [
          "tsconfig.json"
        ]
      }
    }
  ]
}